{{>layout/header}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <select name="addressRegion" id="addressRegion1"></select>
    <select name="addressDo" id="addressDo1"></select>
    <select name="addressSiGunGu" id="addressSiGunGu1"></select>
    <!--addressSiGunGu1의 각각의 값에 value 줘서 해당 value에 해당하는 정보 불러와야함 아니면 if문으로 js에서 설정하든가!-->

    <!--sql select store from aidb.Kidsmap 의 결과값 +아이랑/아기랑/아기의자 검색결과 출력해서 데이터 전처리, 새로운 테이블 생성!-->
{{>layout/footer}}